@using Interfaces.DTO
@model IEnumerable<RoomContentDTO>
@{
    ViewBag.Title = "Room";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@Scripts.Render("~/bundles/jsfunctions")
@Scripts.Render("~/bundles/jqueryval")


<h2>@ViewBag.RoomName</h2>

<div>
    <table>

        @foreach (RoomContentDTO roomContent in Model)
        {
            <tr>
                <td>
                    <p>@roomContent.Name</p>
                </td>
                <td>
                    <p class ="lastState" id ="@roomContent.TriggerId">@roomContent.LastState</p>
                </td>
                <td>
                    <button  data-sensorid="@roomContent.SensorId" class ="displayChartLastHour">Last hour</button>
                </td>
                <td>
                    <button data-sensorid="@roomContent.SensorId" class ="displayChartThisDay">This day</button>
                </td>
            </tr>
        }
    </table>

    <div>
        <button class="hideChart">Hide chart</button>
    </div>

    <div id="chartContainer" style="height: 300px; width: 100%;"></div>
</div>


<script src="~/Scripts/canvasjs.min.js"></script>
