@using Interfaces.DTO
@model IEnumerable<SensorDTO>
@{
    ViewBag.Title = "Sensors";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 <div class="errorList"></div>

<div>
    <table>
        <tr>
            <td>
                <h4>Name</h4>
            </td>
            <td></td>
            <td></td>
        </tr>
        @foreach (SensorDTO ctrl in Model)
        {
            <tr>
                <td>@ctrl.Name</td>
                <td>
                    <p>@Html.RouteLink("Details", "Room", new { action = "Details", controller = "Sensor", id = ctrl.Id })</p>
                </td>
                <td>
                    <p>@Html.RouteLink("Edit", "Room", new { action = "Edit", controller = "Sensor", id = ctrl.Id })</p>
                </td>
                <td>
                    <p>@Html.RouteLink("Delete", "Room", new { action = "Delete", controller = "Sensor", id = ctrl.Id })</p>
                </td>
                <td>
                    <p>@Html.RouteLink("Create", "Room", new { action = "Create", controller = "Sensor" })</p>
                </td>
            </tr>
        }
    </table>
</div>

<button class="checkConfig">Check configuration</button>

<script src="~/Scripts/CheckConfiguration.js"></script>