@using SmartHouseWebSite.Models
@model TriggerViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    List<HouseControllerViewModel> listControlers= ViewBag.houseControllers;
    List<SensorViewModel> listSensors = ViewBag.sensors;  
     
    <fieldset>
        <legend>Trigger</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Condition)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Condition)
            @Html.ValidationMessageFor(model => model.Condition)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Enable)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Enable)
            @Html.ValidationMessageFor(model => model.Enable)
        </div>

       @* @foreach (HouseControllerViewModel hc in ViewBag.houseControllers)
        {
            <div>@hc.Name</div>
        }*@

        <div class="editor-label">
            @Html.Label("Controller")
        </div>

          <div >
            @Html.DropDownListFor(model => model.HouseControllerId, new SelectList( listControlers, "Id", "Name"))
        </div>
      @*  <div class="editor-field">
            @Html.EditorFor(model => model.HouseController)
            @Html.ValidationMessageFor(model => model.HouseController)
        </div>*@
        
        <div class="editor-label">
              @Html.Label("Sensor")
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.SensorId, new SelectList( listSensors, "Id", "Name"))
            @*@Html.ValidationMessageFor(model => model.Sensor)*@
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
