@using SmartHouseWebSite.Models
@model TriggerViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
   

    
    <fieldset>
        <legend>Trigger</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Condition)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Condition)
            @Html.ValidationMessageFor(model => model.Condition)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Enable)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Enable)
            @Html.ValidationMessageFor(model => model.Enable)
        </div>

        <div class="editor-label">
            @Html.Label("Controller")
        </div>

          <div >
            @Html.DropDownListFor(model => model.HouseControllerId, new SelectList( ViewBag.houseControllers, "Id", "Name"))
        </div>
    
        <div class="editor-label">
              @Html.Label("Sensor")
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.SensorId, new SelectList( ViewBag.sensors, "Id", "Name"))
        </div>

          <div class="editor-label">
              @Html.Label("Type of trigger")
        </div>

        <div class="editor-field">
            @Html.DropDownListFor(model => model.TriggersTypeId, new SelectList( ViewBag.triggersTypes, "Id", "Name"))
        </div>

         <div class="editor-label">
              @Html.Label("Room")
        </div>

         <div class="editor-field">
            @Html.DropDownListFor(model => model.RoomId, new SelectList( ViewBag.rooms, "Id", "Name"))
        </div>    

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
