@using Interfaces.DTO
@model HouseControllerDTO

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <fieldset>
        <legend>HouseController</legend>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.Name)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Name)
        </div>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.Enable)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Enable)
        </div>

        <div class="display-label">
             @Html.DisplayName("Type of controller")
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.HouseControllersTypeName)
        </div>

        <div class="display-label">
             @Html.DisplayName("Name of the room")
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.RoomName)
        </div>
    </fieldset>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>

