@using Interfaces.DTO
@model IEnumerable<HouseControllerDTO>
@{
    ViewBag.Title = "House controllers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <table>
        <tr>
            <td>
                <h4>Name</h4>
            </td>
            <td></td>
            <td></td>
        </tr>
        @foreach (HouseControllerDTO ctrl in Model)
        {
            <tr>
                <td>@ctrl.Name</td>
                <td>
                    <p>@Html.RouteLink("Details", "Room", new { action = "Details", controller = "HouseController", id = ctrl.Id })</p>
                </td>
                <td>
                    <p>@Html.RouteLink("Edit", "Room", new { action = "Edit", controller = "HouseController", id = ctrl.Id })</p>
                </td>
                <td>
                    <p>@Html.RouteLink("Delete", "Room", new { action = "Delete", controller = "HouseController", id = ctrl.Id })</p>
                </td>
                <td>
                    <p>@Html.RouteLink("Create", "Room", new { action = "Create", controller = "HouseController" })</p>
                </td>
            </tr>
        }
    </table>
</div>
