@using Interfaces.DTO
@model IEnumerable<RoomDTO>

@{
    ViewBag.Title = "Tables";

}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div class="errorList"></div>

    <div class="homePage">
        @foreach (RoomDTO room in Model)
        {   
             <p>@Html.RouteLink(room.Name, "Room", new { action = "Index", controller = "Room", roomId = room.Id })</p>    
        }
    </div>

<script >
    $(document).ready(function () {

        $.ajax({
            url: '/Home/CheckConfiguration',
            type: 'GET',
            dataType: 'json',
            success: function (result) {
                var jsonResult = JSON.stringify(result);
                $each(jsonResult, function (key, value) {
                    $(".errorList").append($("<p></p>").html(value));
                });
                }
        });

    })
</script>

    <footer>
    </footer>
</body>
</html>



